$therm-one: #f38e58;
$color-two: white;
$family: "Quicksand";
$type-cursor: pointer;

body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: $therm-one;
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 1;
  top: 0;
  margin: 0;
  padding: 0;
  height: 70px;
  font-family: $family;

  img.logo {
    margin-left: 70px;
    cursor: pointer;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    align-items: center;

    li a {
      color: #f2f2f2;
      padding: 15px 16px;
      text-decoration: none;
      font-size: 17px;
      transition: ease-in-out 200ms;
      font-weight: 400;
    }

    li a:hover {
      background-color: $color-two;
      color: black;
    }
  }

  div.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 70px;
    align-items: center;
    text-transform: uppercase;

    .free-trial {
      background-color: #054160;
      padding: 13px;
      border-radius: 8px;
      transition: ease-out 200ms;
      width: max-content;
      cursor: pointer;

      a {
        color: $color-two;
        text-decoration: none;
        margin: 0 13px 0 13px;
        font-size: 13px;
        font-weight: 1000;
      }
    }

    .free-trial:hover {
      background-color: #04527e;
    }

    .login {
      background-color: transparent;
      border: solid 2px $color-two;
      border-radius: 8px;
      padding: 11px;
      margin-left: 10px;
      transition: ease-out 200ms;
      width: max-content;
      cursor: pointer;

      a {
        text-decoration: none;
        color: $color-two;
        margin: 0 13px 0 13px;
        font-size: 13px;
        font-weight: 1000;
      }
    }

    div.options {
      background-color: transparent;
      border: solid 2px $color-two;
      border-radius: 8px;
      padding: 13px;
      margin-left: 10px;
      transition: ease-out 200ms;
      width: max-content;
      height: max-content;
      display: none;
      align-items: center;
    }
  }

  .login:hover {
    opacity: 0.5;
  }
}

header {
  background-color: $therm-one;
  padding-top: 130px;
  padding-bottom: 70px;
  height: max-content;

  div.container-header {
    h1 {
      text-align: center;
      font-family: $family;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 4em;
      color: #ffffff;
      margin: 0;
    }

    p {
      text-align: center;
      font-family: $family;
      font-size: 1.2em;
      margin: 10px 20px 0 20px;
    }
  }
}

main {
  padding-top: 70px;
  font-size: 1.2em;

  div.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;

    div.container-contact {
      width: 550px;
      margin-right: 50px;

      h2 {
        text-transform: uppercase;
        color: #5bb5de;
        font-family: $family;
      }

      p {
        font-family: $family;
        padding-top: 10px;
      }

      form {
        div {
          display: flex;
          flex-direction: column;
          padding-top: 30px;
          height: 440px;
          justify-content: space-between;

          input {
            height: 40px;
            border-radius: 5px;
            border: solid 0.5px #c2bbbb;
          }

          textarea {
            height: 120px;
            border-radius: 5px;
            border: solid 0.5px #c2bbbb;
            resize: none;
          }

          input::placeholder,
          textarea::placeholder {
            font-family: $family;
            font-style: italic;
            font-size: 15px;
            color: #c2bbbb;
          }
        }
      }

      input[type="submit"] {
        margin-top: 20px;
        float: right;
        width: 150px;
        height: 60px;
        text-transform: uppercase;
        font-family: $family;
        font-weight: 1000;
        color: #fff;
        background-color: $therm-one;
        border: none;
        border-radius: 5px;
        transition: ease-out 200ms;
        cursor: pointer;
      }

      input[type="submit"]:hover {
        background-color: #e78753;
      }
    }

    div.container-other-ways {
      width: 550px;

      h2 {
        text-transform: uppercase;
        color: #5bb5de;
        font-family: $family;
      }

      h3 {
        font-family: $family;
        padding-top: 30px;
      }

      p {
        font-family: $family;
      }

      article {
        display: flex;
        flex-direction: row;
        align-items: center;

        div.icon-container {
          background-color: $therm-one;
          margin-right: 15px;
          border-radius: 50%;

          i {
            font-size: 40px;
            padding: 10px;
          }
        }

        a {
          text-decoration: none;
          color: $therm-one;
        }
      }
    }
  }
}

footer {
  background-color: #404040;
  margin-top: 100px;
  font-family: $family;

  div.container-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    div {
      div.footer-icon {
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
      }

      ul {
        list-style: none;
        padding: 0;
        font-size: 15px;

        li {
          padding-top: 8px;

          a.mini-title {
            color: $color-two;
            font-weight: 400;
            transition: ease-out 200ms;
          }

          a.mini-title:hover {
            color: $color-two;
          }

          a {
            color: #b6b0b0;
            text-decoration: none;
            transition: ease-out 200ms;
          }

          a:hover {
            color: $therm-one;
          }
        }
      }

      div.footer-button {
        background-color: #054160;
        padding: 13px;
        border-radius: 8px;
        transition: ease-out 200ms;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          color: $color-two;
          text-decoration: none;
          margin: 0 13px 0 13px;
          font-size: 13px;
          font-weight: 1000;
          text-transform: uppercase;
          cursor: $type-cursor;
        }
      }

      div.footer-button:hover {
        background-color: #04527e;
      }
    }
  }

  div.mini-footer {
    background-color: #333333;

    p {
      margin: 0;
      padding: 10px 0 10px 75px;
      color: #b6b0b0;

      a {
        color: $therm-one;
        text-decoration: none;
        transition: ease-out 200ms;
      }

      a:hover {
        color: #e07c44;
        text-decoration: none;
      }
    }
  }
}

//====================Media===================

$breakpoint-one: 1030px;
$breakpoint-two: 615px;
@media (max-width: $breakpoint-one) {
  nav {
    ul {
      display: none;
    }

    div.nav-buttons {
      display: flex;
      align-items: end;
      padding-bottom: 5px;

      div.options {
        display: flex;
      }
    }
  }
  main {
    div.main-container {
      display: flex;
      flex-direction: column;
      width: max-content;
      margin-left: auto;
      margin-right: auto;
      padding: 0;

      div.container-contact {
        width: 400px;
        margin: 0;
      }

      div.container-other-ways {
        width: 400px;
      }
    }
  }
  footer {
    div.container-links {
      display: flex;
      flex-direction: column;
      width: max-content;
      margin-left: auto;
      margin-right: auto;

      div.footer-icon {
        width: 120px;
      }
    }

    div.mini-footer {
      margin-top: 20px;

      p {
        text-align: center;
        padding: 0;
      }
    }
  }
}

@media (max-width: $breakpoint-two) {
  nav {
    img.logo {
      margin: 0;
    }

    div.nav-buttons {
      div.free-trial {
        display: none;
      }

      div.login {
        display: none;
      }
    }
  }
  header {
    div.container-header {
      h1 {
        font-size: 2.5rem;
      }
    }
  }
  main {
    div.main-container {
      width: 250px;
      margin-left: auto;
      margin-right: auto;

      div.container-contact {
        width: 250px;
        margin: 0;
      }

      div.container-other-ways {
        width: 250px;
      }
    }
  }
}
