body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #f38e58;
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 1;
  top: 0;
  margin: 0;
  padding: 0;
  height: 70px;
  font-family: "Quicksand";
}
nav img.logo {
  margin-left: 70px;
  cursor: pointer;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  align-items: center;
}
nav ul li a {
  color: #f2f2f2;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: ease-in-out 200ms;
  font-weight: 400;
}
nav ul li a:hover {
  background-color: white;
  color: black;
}
nav div.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 70px;
  align-items: center;
  text-transform: uppercase;
}
nav div.nav-buttons .free-trial {
  background-color: #054160;
  padding: 13px;
  border-radius: 8px;
  transition: ease-out 200ms;
  width: max-content;
  cursor: pointer;
}
nav div.nav-buttons .free-trial a {
  color: white;
  text-decoration: none;
  margin: 0 13px 0 13px;
  font-size: 13px;
  font-weight: 1000;
}
nav div.nav-buttons .free-trial:hover {
  background-color: #04527e;
}
nav div.nav-buttons .login {
  background-color: transparent;
  border: solid 2px white;
  border-radius: 8px;
  padding: 11px;
  margin-left: 10px;
  transition: ease-out 200ms;
  width: max-content;
  cursor: pointer;
}
nav div.nav-buttons .login a {
  text-decoration: none;
  color: white;
  margin: 0 13px 0 13px;
  font-size: 13px;
  font-weight: 1000;
}
nav div.nav-buttons div.options {
  background-color: transparent;
  border: solid 2px white;
  border-radius: 8px;
  padding: 13px;
  margin-left: 10px;
  transition: ease-out 200ms;
  width: max-content;
  height: max-content;
  display: none;
  align-items: center;
}
nav .login:hover {
  opacity: 0.5;
}

header {
  background-color: #f38e58;
  padding-top: 130px;
  padding-bottom: 70px;
  height: max-content;
}
header div.container-header h1 {
  text-align: center;
  font-family: "Quicksand";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4em;
  color: #ffffff;
  margin: 0;
}
header div.container-header p {
  text-align: center;
  font-family: "Quicksand";
  font-size: 1.2em;
  margin: 10px 20px 0 20px;
}

main {
  padding-top: 70px;
  font-size: 1.2em;
}
main div.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
}
main div.main-container div.container-contact {
  width: 550px;
  margin-right: 50px;
}
main div.main-container div.container-contact h2 {
  text-transform: uppercase;
  color: #5bb5de;
  font-family: "Quicksand";
}
main div.main-container div.container-contact p {
  font-family: "Quicksand";
  padding-top: 10px;
}
main div.main-container div.container-contact form div {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  height: 440px;
  justify-content: space-between;
}
main div.main-container div.container-contact form div input {
  height: 40px;
  border-radius: 5px;
  border: solid 0.5px #c2bbbb;
}
main div.main-container div.container-contact form div textarea {
  height: 120px;
  border-radius: 5px;
  border: solid 0.5px #c2bbbb;
  resize: none;
}
main div.main-container div.container-contact form div input::placeholder,
main div.main-container div.container-contact form div textarea::placeholder {
  font-family: "Quicksand";
  font-style: italic;
  font-size: 15px;
  color: #c2bbbb;
}
main div.main-container div.container-contact input[type=submit] {
  margin-top: 20px;
  float: right;
  width: 150px;
  height: 60px;
  text-transform: uppercase;
  font-family: "Quicksand";
  font-weight: 1000;
  color: #fff;
  background-color: #f38e58;
  border: none;
  border-radius: 5px;
  transition: ease-out 200ms;
  cursor: pointer;
}
main div.main-container div.container-contact input[type=submit]:hover {
  background-color: #e78753;
}
main div.main-container div.container-other-ways {
  width: 550px;
}
main div.main-container div.container-other-ways h2 {
  text-transform: uppercase;
  color: #5bb5de;
  font-family: "Quicksand";
}
main div.main-container div.container-other-ways h3 {
  font-family: "Quicksand";
  padding-top: 30px;
}
main div.main-container div.container-other-ways p {
  font-family: "Quicksand";
}
main div.main-container div.container-other-ways article {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main div.main-container div.container-other-ways article div.icon-container {
  background-color: #f38e58;
  margin-right: 15px;
  border-radius: 50%;
}
main div.main-container div.container-other-ways article div.icon-container i {
  font-size: 40px;
  padding: 10px;
}
main div.main-container div.container-other-ways article a {
  text-decoration: none;
  color: #f38e58;
}

footer {
  background-color: #404040;
  margin-top: 100px;
  font-family: "Quicksand";
}
footer div.container-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer div.container-links div div.footer-icon {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
footer div.container-links div ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
footer div.container-links div ul li {
  padding-top: 8px;
}
footer div.container-links div ul li a.mini-title {
  color: white;
  font-weight: 400;
  transition: ease-out 200ms;
}
footer div.container-links div ul li a.mini-title:hover {
  color: white;
}
footer div.container-links div ul li a {
  color: #b6b0b0;
  text-decoration: none;
  transition: ease-out 200ms;
}
footer div.container-links div ul li a:hover {
  color: #f38e58;
}
footer div.container-links div div.footer-button {
  background-color: #054160;
  padding: 13px;
  border-radius: 8px;
  transition: ease-out 200ms;
}
footer div.container-links div div.footer-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  margin: 0 13px 0 13px;
  font-size: 13px;
  font-weight: 1000;
  text-transform: uppercase;
  cursor: pointer;
}
footer div.container-links div div.footer-button:hover {
  background-color: #04527e;
}
footer div.mini-footer {
  background-color: #333333;
}
footer div.mini-footer p {
  margin: 0;
  padding: 10px 0 10px 75px;
  color: #b6b0b0;
}
footer div.mini-footer p a {
  color: #f38e58;
  text-decoration: none;
  transition: ease-out 200ms;
}
footer div.mini-footer p a:hover {
  color: #e07c44;
  text-decoration: none;
}

@media (max-width: 1030px) {
  nav ul {
    display: none;
  }
  nav div.nav-buttons {
    display: flex;
    align-items: end;
    padding-bottom: 5px;
  }
  nav div.nav-buttons div.options {
    display: flex;
  }

  main div.main-container {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  main div.main-container div.container-contact {
    width: 400px;
    margin: 0;
  }
  main div.main-container div.container-other-ways {
    width: 400px;
  }

  footer div.container-links {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
  footer div.container-links div.footer-icon {
    width: 120px;
  }
  footer div.mini-footer {
    margin-top: 20px;
  }
  footer div.mini-footer p {
    text-align: center;
    padding: 0;
  }
}
@media (max-width: 615px) {
  nav img.logo {
    margin: 0;
  }
  nav div.nav-buttons div.free-trial {
    display: none;
  }
  nav div.nav-buttons div.login {
    display: none;
  }

  header div.container-header h1 {
    font-size: 2.5rem;
  }

  main div.main-container {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  main div.main-container div.container-contact {
    width: 250px;
    margin: 0;
  }
  main div.main-container div.container-other-ways {
    width: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
